VPS_Deploy/nodered/flows_import.json
[
    {
        "id": "tab_solar_decoder",
        "type": "tab",
        "label": "Solar MQTT Decoder",
        "disabled": false,
        "info": "รับ MQTT binary จาก NJ-iot401 → decode Modbus RTU FC03 (M1280) → structured JSON"
    },

    {
        "id": "mqtt_in_solar",
        "type": "mqtt in",
        "z": "tab_solar_decoder",
        "name": "MQTT /solar/+/pub",
        "topic": "/solar/+/pub",
        "qos": "0",
        "datatype": "buffer",
        "broker": "broker_mosquitto_solar",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 180,
        "wires": [["fn_decode"]]
    },

    {
        "id": "fn_decode",
        "type": "function",
        "z": "tab_solar_decoder",
        "name": "Decode Modbus RTU",
        "func": "// Device Registry (EMEI → Name)\nconst DEVICES = {\n    '864865083327800': 'device-01',\n    '867920075008640': 'device-02',\n    '864865083329673': 'equipment2596'\n};\n\nconst { decodeModbus, extractEMEI } = global.get('decoders');\n\nconst buf        = msg.payload;\nconst emei       = extractEMEI(msg.topic);\nconst deviceName = DEVICES[emei] || emei;\n\nif (!Buffer.isBuffer(buf)) {\n    node.warn(`[${deviceName}] payload is not Buffer: ${typeof buf}`);\n    return null;\n}\n\nconst decoded = decodeModbus(buf);\n\nnode.status({\n    fill:  decoded.type === 'telemetry' ? 'green' : 'red',\n    shape: 'dot',\n    text:  `${deviceName} | ${decoded.type} | ${buf.length}B`\n});\n\nmsg.emei        = emei;\nmsg.device_name = deviceName;\nmsg.payload     = {\n    emei,\n    device_name: deviceName,\n    ts:          new Date().toISOString(),\n    ...decoded\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 180,
        "wires": [["sw_type"]]
    },

    {
        "id": "sw_type",
        "type": "switch",
        "z": "tab_solar_decoder",
        "name": "msg type?",
        "property": "payload.type",
        "propertyType": "msg",
        "rules": [
            { "t": "eq", "v": "telemetry", "vt": "str" },
            { "t": "eq", "v": "error",     "vt": "str" }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 570,
        "y": 180,
        "wires": [
            ["debug_telemetry", "debug_raw"],
            ["debug_error"]
        ]
    },

    {
        "id": "debug_telemetry",
        "type": "debug",
        "z": "tab_solar_decoder",
        "name": "Telemetry",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload.battery.soc",
        "statusType": "msg",
        "x": 790,
        "y": 120,
        "wires": []
    },

    {
        "id": "debug_raw",
        "type": "debug",
        "z": "tab_solar_decoder",
        "name": "Raw Hex (calibration)",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.raw",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 810,
        "y": 200,
        "wires": []
    },

    {
        "id": "debug_error",
        "type": "debug",
        "z": "tab_solar_decoder",
        "name": "Decode Error",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 790,
        "y": 280,
        "wires": []
    },

    {
        "id": "broker_mosquitto_solar",
        "type": "mqtt-broker",
        "name": "Mosquitto Solar",
        "broker": "mosquitto-solar",
        "port": "1883",
        "clientid": "nodered-decoder",
        "autoConnect": true,
        "usetls": false,
        "compatMode": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    }
]
