VPS_Deploy/nodered/flows_import.json
[
    {
        "id": "tab_solar_decoder",
        "type": "tab",
        "label": "Solar MQTT Decoder",
        "disabled": false,
        "info": "รับ MQTT binary จาก NJ-iot401 devices แล้ว decode TI& Protocol"
    },
    {
        "id": "mqtt_in_solar",
        "type": "mqtt in",
        "z": "tab_solar_decoder",
        "name": "MQTT /solar/+/pub",
        "topic": "/solar/+/pub",
        "qos": "0",
        "datatype": "buffer",
        "broker": "broker_mosquitto_solar",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 160,
        "wires": [["fn_decode_binary"]]
    },
    {
        "id": "fn_decode_binary",
        "type": "function",
        "z": "tab_solar_decoder",
        "name": "Decode TI& Binary",
        "func": "const { decodeTIProtocol, extractEMEI } = global.get('decoders');\n\nconst buf = msg.payload;\nconst emei = extractEMEI(msg.topic);\n\nif (!Buffer.isBuffer(buf)) {\n    node.warn(`[${emei}] payload ไม่ใช่ Buffer: ${typeof buf}`);\n    return null;\n}\n\nconst decoded = decodeTIProtocol(buf);\n\nmsg.emei = emei;\nmsg.payload = {\n    emei,\n    timestamp: new Date().toISOString(),\n    topic: msg.topic,\n    ...decoded\n};\n\nnode.status({\n    fill: decoded.type === 'full_telemetry' ? 'green' : decoded.type === 'error' ? 'red' : 'yellow',\n    shape: 'dot',\n    text: `${emei} → ${decoded.type}`\n});\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 160,
        "wires": [["sw_msg_type"]]
    },
    {
        "id": "sw_msg_type",
        "type": "switch",
        "z": "tab_solar_decoder",
        "name": "Type?",
        "property": "payload.type",
        "propertyType": "msg",
        "rules": [
            { "t": "eq", "v": "full_telemetry", "vt": "str" },
            { "t": "eq", "v": "short_status",   "vt": "str" },
            { "t": "eq", "v": "error",           "vt": "str" }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 3,
        "x": 610,
        "y": 160,
        "wires": [
            ["debug_full_telemetry"],
            ["debug_short_status"],
            ["debug_error"]
        ]
    },
    {
        "id": "debug_full_telemetry",
        "type": "debug",
        "z": "tab_solar_decoder",
        "name": "Full Telemetry",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload.battery_voltage_v",
        "statusType": "msg",
        "x": 830,
        "y": 100,
        "wires": []
    },
    {
        "id": "debug_short_status",
        "type": "debug",
        "z": "tab_solar_decoder",
        "name": "Short Status",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 830,
        "y": 160,
        "wires": []
    },
    {
        "id": "debug_error",
        "type": "debug",
        "z": "tab_solar_decoder",
        "name": "Decode Error",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 830,
        "y": 220,
        "wires": []
    },
    {
        "id": "broker_mosquitto_solar",
        "type": "mqtt-broker",
        "name": "Mosquitto Solar",
        "broker": "mosquitto-solar",
        "port": "1883",
        "clientid": "nodered-decoder",
        "autoConnect": true,
        "usetls": false,
        "compatMode": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    }
]
